<mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let module of modules">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>folder_open</mat-icon>
                {{module.name}}
            </mat-panel-title>
        </mat-expansion-panel-header> 
        
        <mat-nav-list *ngFor="let content of module.resources">
                <a *ngIf="content.url != null" mat-list-item (click)="openInNewTab(content.url)"><mat-icon>link</mat-icon>{{content.title}}</a>
                <a *ngIf="content.link != null" mat-list-item (click)="openInNewTab(content.link)"><mat-icon>insert_drive_file</mat-icon>{{content.title}}</a>
                <a *ngIf="content.isTimed != null" mat-list-item [routerLink]="['/nav/courses/assessment']" [queryParams]="{id: this.content.id, course: this.current_course}"><mat-icon>assessment</mat-icon>{{content.title}}</a>
        </mat-nav-list>

        <mat-nav-list *ngIf="this.isAdmin()">
            <a mat-list-item class="add_button"><mat-icon>edit</mat-icon>Edit Module</a>
            <a mat-list-item><mat-icon>add</mat-icon>Add Content</a>
        </mat-nav-list>
    </mat-expansion-panel>
</mat-accordion>

<mat-card *ngIf="1 > modules.length || this.isAdmin()">
    <div *ngIf="1 > modules.length" class="empty_message">
        There are no modules.
    </div>
    <mat-nav-list *ngIf="this.isAdmin()">
        <a mat-list-item class="add_button"><mat-icon>add</mat-icon>Add Module</a>
    </mat-nav-list>
</mat-card>