<mat-accordion>
    <mat-expansion-panel *ngFor="let module of modules">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>folder_open</mat-icon>
                {{module.name}}
            </mat-panel-title>
        </mat-expansion-panel-header> 
        
        <mat-nav-list *ngFor="let content of module.resources">
                <a *ngIf="content.url" mat-list-item (click)="openInNewTab(content.url)"><mat-icon>link</mat-icon>{{content.title}}</a>
                <a *ngIf="content.link" mat-list-item (click)="openInNewTab(content.link)"><mat-icon>insert_drive_file</mat-icon>{{content.title}}</a>
                <a *ngIf="content.isTimed" mat-list-item [routerLink]="['/nav/courses/assessment']" [queryParams]="{id: this.content.id, course: this.current_course}"><mat-icon>assessment</mat-icon>{{content.title}}</a>
        </mat-nav-list>
    </mat-expansion-panel>
</mat-accordion>