
mat-button-toggle, mat-button-toggle-group {
    width: 100%;
}

mat-card {
    margin: 1rem;
}

.controls button {
    width: 50%;
    margin: auto;
    float: left;
}

.controls {
    width: 100%;
    min-height: 2rem;
}

.question {
    margin-top: 5%;
}

.submit_right {
    float: right;
}

.fill {
    flex: 1 1 auto;
}