<mat-card id="top">
    <mat-card-header>
        <mat-card-title>
            {{discussion.title}}
        </mat-card-title>
    </mat-card-header>

    <p [innerHTML]="this.discussion.description"></p>

    <mat-nav-list *ngIf="!replying">
        <a mat-list-item (click)="openEditor()"><mat-icon>reply</mat-icon>Reply</a>
    </mat-nav-list>
    
    <div *ngIf="replying" >
        <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
        <mat-card-actions class="controls">
            <button [disabled]="discussion.isClosed || isPostEmpty()" (click)="pushPost()" mat-flat-button color='primary'>Submit</button>

            <button (click)="closeEditor()" mat-stroked-button>Cancel</button>
        </mat-card-actions>
    </div>

</mat-card>


<mat-card *ngFor="let post of discussion.posts">
    <mat-card-header>
        <mat-card-title>{{post.user_name}}</mat-card-title>
        <mat-card-subtitle>{{post.date}}</mat-card-subtitle>
  </mat-card-header>
    <p [innerHTML]="post.post"></p>
</mat-card>