
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    max-width: 20%;
    min-width: 150px;
}

.content {
    padding: 1rem;
    margin: auto;
}

mat-icon {
    margin-right: 1rem;
}