<ng-container >

    <mat-toolbar class="example-header">
            <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
            <h1>{{course.name}}</h1>
    </mat-toolbar>

    <mat-sidenav-container class=container>

        <mat-sidenav class="size-nav" #snav mode="side" opened>
            <mat-nav-list *ngFor="let nav of navs">
                <a mat-list-item [routerLink]="" [queryParams]="{course: current_course, select: nav.val}" (click)="setNav(nav.val)"><mat-icon>{{nav.ico}}</mat-icon>{{nav.val}}</a>
            </mat-nav-list>
        </mat-sidenav>
    

        <mat-sidenav-content class="course_viewer">
            
            <div class="content">
                <app-info [current_course]="current_course" *ngIf="isEqual('Home')"></app-info>
                <app-modules [current_course]="current_course" *ngIf="isEqual('Modules')"></app-modules>
                <app-grades [current_course]="current_course" *ngIf="isEqual('Grades')"></app-grades>
                <app-discussions [current_course]="current_course" *ngIf="isEqual('Discussions')"></app-discussions>
                <app-discussion [current_course]="current_course" *ngIf="isEqual('Discussion')"></app-discussion>
                <app-document-viewer *ngIf="isEqual('ViewDocument')"></app-document-viewer>
                <app-pages  [current_course]="current_course" *ngIf="isEqual('Page')"></app-pages>
            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>

</ng-container>