
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    min-height: 100%;
}
 
mat-sidenav-container {
    background-color: lightgray;
}

mat-sidenav {
    max-width: 20%;
    min-width: 160px;
}

.content {
    padding: 1rem;
    margin: auto;
}

mat-icon {
    margin-right: 1rem;
}
