<div>
<button mat-button class="dashboardbutton" [matMenuTriggerFor]="menu">Dashboard</button>
</div>
<div>
<mat-menu #menu="matMenu">
    <span>
            <button [routerLink]="['courses/']" mat-button>Courses</button>
      </span>
  <button mat-menu-item>Calendar</button>
  <button mat-menu-item>Announcements</button>
</mat-menu>

</div>

<br>

<div>
<mat-card *ngFor="let course of courses">
    <h1>{{course.title}}</h1>
    <p>
        Instructor: {{course.prof}}
    </p>
    <button [routerLink]="['/nav/courses/']" mat-button>Syllabus</button>
</mat-card>
</div>
