.dashboard{
  background-color: whitesmoke;
}
.dashboardbutton {
  position: relative;
  left: 1px;
  font-size: 50px;
  top: 15px;
  font-style: normal;
}

.dashboard-header{
  background-color: lightblue;
  height: 65px;
}


mat-card {
  width: 80%;
  padding: 1rem;
  margin: auto;
  background-color: white;
  diplay: flex;
  flex-flow: column;

}

.card-deck-container {
  width: 100%;
  position: relative;
  border-radius: 2px;
  padding: 10px 10px 30px;
  margin: 10px 10px 10px 10px;
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  padding: 3px 3px 3px 3px;
}
