<!--  This is the main navigation bar for the app -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>
            <button [routerLink]="['nav']" mat-button><mat-icon>dashboard</mat-icon>Dashboard</button>
      </span>
      <span>
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>list</mat-icon>My Courses</button>

            <mat-menu #menu="matMenu">
                  <button *ngFor="let course of myCourses" [routerLink]="['courses/view-course']" [queryParams]="{course:course.id,select:'Home'}" mat-menu-item>
                        <mat-icon>class</mat-icon>{{course.name}}
                  </button>
            </mat-menu>
      </span>
      <span>
            <button [routerLink]="['courses/']" mat-button><mat-icon>list</mat-icon>Courses</button>
      </span>
      <span>
            <button [routerLink]="['helppage/']" mat-button><mat-icon>help_outline</mat-icon>Help</button>
      </span>
      <span>
            <button [routerLink]="['home/']" mat-button style="align-content: flex-end"><mat-icon>home</mat-icon>Home</button>
      </span>
      <span>
            <button [routerLink]="['security/login/']" mat-button style="align-content: flex-end"><mat-icon>fingerprint</mat-icon>Login</button>
      </span>

      <span class="fill"></span>
      <span *ngIf="this.isAdmin()">
            <button mat-button (click)="addNewCourse()"><mat-icon>add</mat-icon>New Course</button>
      </span>
      <span>
            <mat-slide-toggle (click)="toggleAdmin()">Admin Toggle</mat-slide-toggle>
      </span>
    </mat-toolbar-row>
</mat-toolbar>
