<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>
            <button [routerLink]="['nav']" mat-button>Dashboard</button>
      </span>
      <span>
            <button mat-button [matMenuTriggerFor]="menu">My Courses</button>
            <mat-menu #menu="matMenu">
            <button *ngFor="let course of myCourses" [routerLink]="['courses/view-course']" [queryParams]="{course:course.id,select:'Home'}" mat-menu-item>{{course.title}}</button>
            </mat-menu>
      </span>
      <span>
            <button [routerLink]="['courses/']" mat-button>Courses</button>
      </span>
      <span>
            <button [routerLink]="['helppage/']" mat-button>Help</button>
      </span>
      <span>
            <button [routerLink]="['home/']" mat-button style="align-content: flex-end">Home</button>
      </span>
      <span>
            <button [routerLink]="['security/login/']" mat-button style="align-content: flex-end">Login</button>
      </span>
    </mat-toolbar-row>
</mat-toolbar>
