.header{
  background-color: aliceblue;
  text-align: center;
  padding: 50px;
  position: relative;
}

.header-text{
  font-weight: bold;
  font-size: 30px;
  color: darkred;
}

.header-searchbox{
  height: 24px;
  width: 300px;
}

.headerbutton{
  position: absolute;
  top: 83px;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}
