<div class="header">
  <label class="header-text">How Can We Help</label>
  <br>
  <input class="header-searchbox" type="text"/>
  <button class="headerbutton" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
    <mat-icon>search</mat-icon>
  </button>
</div>
<div class="complaintsubmission">
  <label class="header-text-2">Describe Your Problem</label>
  <br>
  <textarea rows="5" style="width: 500px" [value]="'Please explain your problem here!'"></textarea>
  <br>
  <button (click)="ComplaintSubmitted()"> Submit </button>
  <p> {{submittedComplaint}} </p>
</div>
<div class="header-2">
  <hr>
  <h1 mat-subheader class="mat-subheader">Contact Information</h1>
  <div class="matlist">
  <mat-list>
  <mat-list-item *ngFor="let admin of admins">
    <mat-icon mat-list-icon class="listicon">contact_support</mat-icon>
    <h4 mat-line>{{admin.name}}</h4>
    <p mat-line> Phone: {{admin.phone}} </p>
    <p mat-line> Email: {{admin.email}} </p>
  </mat-list-item>
</mat-list>
</div>
</div>
