<h3 mat-dialog-title>Course Details Editor</h3>
<form [formGroup]="courseForm">

    <mat-form-field appearance="outline">
        <mat-label>Course Title</mat-label>
        <input matInput type="text" formControlName="title" required> 
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Select Instructor</mat-label>
        <mat-select formControlName="instructor">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let inst of instructors" value="{{inst.id}}">{{inst.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <mat-label><strong>Course Description:</strong></mat-label>
        <angular-editor formControlName="description" [config]="config"></angular-editor>
        <mat-error *ngIf="courseForm.invalid">{{getDescriptionError()}}</mat-error>
    </div>
</form>
<mat-dialog-actions>
    <span class="fill"></span>
    <button (click)="onNoClick()" mat-raised-button color="warn">Cancel</button>
    <button (click)="updateCourse()" mat-raised-button color="primary">Update</button>
</mat-dialog-actions>